.about {
  letter-spacing: 0.055em;
  background-color: $color-gray-light;

  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__content {
       
    p {
      @include lg-min {
        font-size: 1.125rem;
      }
    }
  }

  &__container {
    display: grid;

    @include lg-min {
      grid-gap: 100px;
      grid-template-columns: 1fr 271px;
    }
    @include lg-md {
      grid-gap: 40px;
      grid-template-columns: 1fr 271px;
    }
    @include md-sm {
      grid-gap: 20px;
      grid-template-columns: 1fr 236px;
    }
    @include sm {
      grid-gap: 20px;
      grid-template-columns: 1fr;
    }
    @extend %container;
  }
  &__image {
    display: grid;
    align-content: center;
    justify-items: center;
  }
}
