.posts {
  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  p {
    color: $color-gray;
    letter-spacing: 0;
  }

  h3 {
    letter-spacing: 0.05em;
    color: $color-gray;
    font-size: 1.125rem;
    transition: color 0.5s;
    text-align: center;
    font-family: $font-header;
  }
  &__container {
    @extend %container;
  }

  &__grid {
    display: grid;
    padding-bottom: 20px;
    grid-gap: 20px;

    @include lg-min {
      grid-template-areas:
        "p1 p1 p2 p3"
        "p4 p5 p6 p6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas:
        "p1 p1 p2"
        "p3 p4 p4"
        "p5 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas:
        "p1 p2"
        "p3 p4"
        "p5 p6";
      grid-template-columns: 1fr 1fr;
    }
    @include sm {
      grid-template-areas:
        "p1"
        "p2"
        "p3"
        "p4"
        "p5"
        "p6";
      grid-template-columns: 1fr;
    }
  }

  @for $i from 1 through 6 {
    .post-item:nth-of-type(#{$i}) {
      grid-area: p#{$i};
    }
  }
}
.post-item {
  transition: background-color 0.5s;
  background-color: #f2f2f2;
  overflow: hidden;
}
.post-item__link {
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-rows: 300px 1fr;
  transition: 0.5s;

  &:hover {
    background-color: #d8d8d8;
  }
}

.post-item__image img {
  width: 100%;
  transition: transform 0.5s;
  object-fit: cover;
  &:hover,
  &:focus {
    background-color: #d8d8d8;
    transform: scale(1.1);
  }
}
.post-item__image {
  display: flex;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  background-color: #2d3651;
}

.post-item__caption {
  display: grid;
  align-content: center;
  padding: 20px;
  text-align: center;
}
.posts__button {
  @include sm-min {
    display: flex;
    justify-content: center;
  }
}
