// .footer {
//   padding: 50px 20px 70px;
//   text-align: center;
//   background-color: #2d3651;

//   &__container {
//     @extend %container;
//   }
//   &__social {
//     position: relative;
//     display: grid;
//     justify-content: center;
//     margin-bottom: 40px;
//     grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
//   }
//   &__social a {
//     display: block;
//     padding: 10px;
//     transition: color 0.5s;

//     &:hover,
//     &:focus {
//       color: #d66926;
//     }
//   }
//   .footer__social .fab {
//     font-size: 36px;
//   }
// }
// .fa-facebook-square:before {
//     content: "\f082";
// }

// .footer__copy span:nth-of-type(1) {
//   margin-right: -0.5em;
//   letter-spacing: 0.33em;
//   font-weight: 100;
// }
// .footer__copy span:nth-of-type(2) {
//   letter-spacing: 0.05em;
//   color: #e5e5e5;
//   font-weight: 700;
// }

.footer {
  padding: 50px 20px 70px;
  text-align: center;
  background-color: #2d3651;
  &__container {
    @extend %container;
  }
  &__social {
    position: relative;
    display: grid;
    justify-content: center;
    margin-bottom: 40px;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

    }
    &__social a {
      display: block;
      padding: 10px;
      transition: color 0.5s;
      &:hover,
      &:focus {
        color: #d66926;
      }
    }
  
  &__social .fab {
    font-size: 36px;
  }
}



.footer__copy span:nth-of-type(1) {
  margin-right: -0.5em;
  letter-spacing: 0.33em;
  font-weight: 100;
}

.footer__copy span:nth-of-type(2) {
  letter-spacing: 0.05em;
  color: #e5e5e5;
  font-weight: 700;
}
.footer__social::after {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 75px / 2);
    width: 75px;
    height: 2px;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
}